---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---


<Layout title="Welcome to Astro.">
	<Header/>
	<div class="row">
		<div class="col-sm-4">
		  <h2>Hangi Teknolojiler var?</h2>
		  <p>Bu web sitesi Bootstrap, VueJS, ReactJS, AlpineJS ve Astro kullanılarak oluşturulmuştur</p>

		</div>
		<div class="col-sm-4">
		  <h2>Hizmetlerimiz</h2>
		  <p>mix.com Sitesi, müşterilerine web tasarımı, web geliştirme, SEO, dijital pazarlama ve daha birçok hizmet sunmaktadır.</p>
</div>
<div class="col-sm-4">
  <h2>İletişim</h2>
  <p>Bize ulaşmak için aşağıdaki bilgileri kullanabilirsiniz:</p>
  <ul class="list-unstyled">
	<li><i class="fa fa-phone"></i><a href="tel:+905453600658"> +90 545 360 06 58</a> </li>
	<li><i class="fa fa-envelope-o"></i><a href="mailto:mail@hamzaortatepe.com.tr"> mail@hamzaortatepe.com.tr</a></li>
	<li><i class="fa fa-map-marker"></i> Çankırı, Türkiye</li>
  </ul>
</div>
</div>
	  

</Layout>

<style></style>
